.DS_Store
cyrrilic_mnist/__pycache__/
cyrrilic_mnist/Cyrillic/
efnet_active/train_model.py
cyrrilic_mnist/train.png
cyrrilic_mnist/model.pth
cyrrilic_mnist/model.pth
cyrrilic_mnist/train.png
efnet_active/train_model.py
simple_obj_detection/shapes_dataset
simple_obj_detection/shapes_dataset_bg
simple_obj_detection/shapes_dataset_random
venv
yolo26n.pt