.DS_Store
cyrrilic_mnist/__pycache__/
cyrrilic_mnist/Cyrillic/
efnet_active/train_model.py
cyrrilic_mnist/train.png
cyrrilic_mnist/model.pth
cyrrilic_mnist/model.pth
cyrrilic_mnist/train.png
efnet_active/train_model.py
simple_obj_detection/shapes_dataset
simple_obj_detection/shapes_dataset_bg
simple_obj_detection/shapes_dataset_random
venv
yolo26n.pt
yolo/spheres_and_cubes_new
pushups/yolo26n-pose.pt
yolo26n-pose.pt
testing_EfficientnetB0-B2/b0.pth                                                                         
testing_EfficientnetB0-B2/b1.pth                                                                        
testing_EfficientnetB0-B2/b2.pth    
testing_EfficientnetB0-B2/spheres_and_cubes_new     